.gradle/
.DS_Store
.metadata/
.metadata/.plugins/org.eclipse.core.resources/.history/23/203c7d5c7bb0001c1dcbcba1d667e2f6
.metadata/.plugins/org.eclipse.core.resources/.history/23/203c7d5c7bb0001c1dcbcba1d667e2f6
.metadata/.plugins/org.eclipse.core.resources/.history/23/203c7d5c7bb0001c1dcbcba1d667e2f6
